* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;
    color: white;
    margin-left: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
}

li {
    padding: 10px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

img {
    height: 300px;
}

strong {
    color: blueviolet;
    font-size: 50px;
}

button {
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    transition: .5s;
}

.container1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-size: 35px;
}

a:hover {
    color: blueviolet;
}

.color2 {
    color: #ffff00;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-sobre {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: start;
}

.sobre {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre h2 {
    font-size: 35px;
    text-align: justify;
}

.image {
    display: flex;
    flex-direction: row;
}

button:hover {
    cursor: pointer;
    border-color: blueviolet;
}

@media (min-width:375px) and (max-width:426px) {
    
    strong {
        color: blueviolet;
        font-size: 30px;
    }
    

    .container {
    width: 100%;
    max-width: 250;
    display: flex;
    justify-content: start;
    margin-left: -51px;
    }

    .name {
        display: none;
    }

    .sobre h2 {
        font-size: 20px;
        text-align: justify;
    }

    .color2 {
        color: #ffff00;
        font-size: 20px;
    }
    .container1 {
        display: flex;
        justify-content: center;
        
    }
}
